@import "../generic/variables";
@import "../generic/functions";

.add-book {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title_all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &_input {
    position: relative;
  }
}

.rating_input {
  width: rem(50px);
  height: rem(25px);
  margin-left: rem(10px);
}

.borrowed {
  display: flex;
  flex-direction: column;
}

.form_section_left_part-two {
  display: flex;
}

.form_section {
  display: flex;
  &_right {
    display: flex;
    flex-direction: column;
  }
  &_left {
    &_search {
      display: flex;
    }
  }
  .submit_btn {
    width: rem(100px);
    height: rem(50px);
  }
}

.search-view {
  width: rem(300px);
  height: rem(80px);
  border: 1px solid black;
  position: absolute;
  background: aliceblue;
  top: rem(290px);
  &_item {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.cover_search_img {
  background-color: black;
  width: 10px;
  height: 30px;
}
