@import "../generic/variables";
@import "../generic/functions";
* {
  box-sizing: border-box;
}

body {
  font-family: $font-courier-prime;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

//tło element - login, welcome
.back-view {
  margin-top: rem(50px);
  width: rem(800px);
  height: rem(300px);
  border-radius: rem(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.section_title {
  margin-top: rem(25px);
  border-radius: rem(10px) rem(10px) 0 0;
  border: 1px solid black;
  width: rem(800px);
  height: rem(40px);
  border-bottom-style: none;
}

.section_title_text {
  line-height: 0;
  margin-left: rem(30px);
}

.section_box {
  width: rem(800px);
  height: rem(220px);
  border-radius: 0 0 rem(10px) rem(10px);
  border: 1px solid black;
}

.section_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
