@import "../generic/variables";
@import "../generic/functions";
* {
  box-sizing: border-box;
}

body {
  font-family: $font-courier-prime;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

//tło element - login, welcome
.back-view {
  margin-top: rem(50px);
  width: rem(800px);
  height: rem(300px);
  border-radius: rem(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
