@import "../generic/variables";
@import "../generic/functions";

.book {
  display: flex;
  padding-left: 40px;
  padding-top: 15px;
}

.book_cover {
  width: rem(120px);
  height: rem(160px);
  background-color: black;
  background-size: contain;
}

.book_main {
  padding-left: 12px;
  &_title {
    width: rem(500px);
    height: rem(38px);
    font-size: rem(18px);
  }
  &_content {
    display: flex;
    height: rem(112px);
    //margin-top: 10px;
  }
  &_rating_box {
    width: rem(60px);
    height: rem(60px);
    background-color: white;
    border: 1px solid black;
    border-radius: rem(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(30px);
    margin-bottom: rem(5px);
  }
}
.borrowed_btn_list {
  border-radius: 0 0 rem(3px) rem(3px);
  font-size: rem(14px);
  border: 1px solid black;
  background: white;
  color: #c0bfbf;
}
.book_main_author {
  width: rem(500px);
  height: rem(38px);
}
.img_section {
  display: flex;
  flex-direction: column;
}

.book_borrow_data {
  display: flex;
  padding-right: 20px;
  //width: rem(40px);
  &_info {
    padding-right: 20px;
  }
}
.book_rating_box {
  text-align: center;
}
.book_delete_btn {
  font-size: rem(12px);
  width: rem(60px);
  padding: 2px;
  margin-top: 5px;
  //height: rem(60px);
}
