@import "../generic/variables";
@import "../generic/functions";

.book {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book_cover {
  width: rem(120px);
  height: rem(160px);
  background-color: black;
  background-size: contain;
}

.book_main {
  margin-bottom: rem(50px);
  &_title {
    width: rem(300px);
    height: rem(20px);
    font-size: rem(18px);
  }
  &_content {
    display: flex;
    justify-content: space-between;
  }
  &_rating_box {
    width: rem(60px);
    height: rem(60px);
    background-color: white;
    border: 1px solid black;
    border-radius: rem(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(30px);
  }
}
.borrowed_btn_list {
  margin-top: rem(7px);
  border-radius: rem(3px);
  font-size: rem(14px);
  border: 1px solid black;
}
.book_main_author {
  margin-top: rem(10px);
  font-size: rem(14px);
}
.img_section {
  display: flex;
  flex-direction: column;
  margin-right: rem(20px);
}

.flex_ma {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.book_borrow_data {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: rem(159px);
  left: rem(0px);
}
