@import "../generic/functions";
@import "../generic/variables";

%flex_align-center {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: rem(80px);
  background: black;
  font-size: rem(30px);
  @extend %flex_align-center;

  .nav_box {
    @extend %flex_align-center;
    justify-content: space-around;
  }
}

.counter_box {
  width: rem(50px);
  height: rem(50px);
  background: black;
  border-radius: rem(5px);
  border: 2px solid white;
  color: white;
  font-weight: bold;
  @extend %flex_align-center;
  justify-content: center;
  .counter {
    font-size: rem(25px);
  }
}

.user_box {
  @extend %flex_align-center;
  .user {
    padding-right: rem(5px);
    color: aliceblue;
    left: rem(-75px);
    font-size: rem(25px);
  }
  .user_avatar {
    width: rem(50px);
    height: rem(50px);
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
  }
}

.avatar_svg {
  background-color: white;
  width: rem(46px);
  height: rem(46px);
  border-radius: 50%;
}

.logo {
  color: aliceblue;
  font-weight: bolder;
  font-size: rem(35px);
  position: absolute;
  transform: translateX(-30%) translateY(-50%);
}
