@import "../generic/functions";
@import "../generic/variables";

%flex_align-center {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: rem(80px);
  background: black;
  font-size: rem(30px);
  @extend %flex_align-center;

  .nav_box {
    @extend %flex_align-center;
    justify-content: space-around;
  }
}

.counter_box {
  width: rem(50px);
  height: rem(50px);
  background: aliceblue;
  border-radius: rem(5px);
  @extend %flex_align-center;
  justify-content: center;
  .counter {
    font-size: rem(25px);
  }
}

.user_box {
  @extend %flex_align-center;
  position: relative;
  .user {
    margin-right: rem(10px);
    color: aliceblue;
    position: absolute;
    left: rem(-75px);
    font-size: rem(25px);
  }
  .user_avatar {
    width: rem(50px);
    height: rem(50px);
    border-radius: 50%;
    background: aliceblue;
  }
}
.logo {
  color: aliceblue;
  font-weight: bolder;
  font-size: rem(35px);
}
