@import "../generic/variables";
@import "../generic/functions";

.login-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login_text {
  font-size: rem(22px);
  &_h2 {
    margin: rem(0px);
    margin-bottom: rem(20px);
  }
}

.login_form {
  display: flex;
  flex-direction: column;
}

.login_button {
  margin-top: rem(10px);
}
